header
	section
		a(href="/")
			img(src="http://www.tecnoent.com/wp-content/uploads/2010/03/Google_logo_transparent1.png", alt="Sensukho")
		h1 Plantilla: #{title} Ver. #{ver}
		form(action="search", method="post")
			input(type="text", placeholder="Buscar", name="palabra")
nav
	ul
		li
			a(href="inicio")
				| Inicio
		li
			a(href="perfil")
				| Perfil
section#slider
	article
		iframe(src="http://www.flintstudio.biz/stuff/sliders/1.html", frameborder="0")